BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: Always
ColumnLimit: '0'
IndentCaseLabels: 'true'
IndentWidth: '4'
MaxEmptyLinesToKeep: '1'
ReflowComments: 'false'
SortIncludes: 'false'
SpacesInParentheses: 'true'
TabWidth: '4'
UseTab: ForIndentation
